body {
    background: linear-gradient(90deg, #4facfe 0%, #00f2fe 100%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
}

header {
    position: relative;
    color: white;
}

header::before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}

header {
    background-color: red;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 15px 20px; /* Adjusted padding to account for the red line */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    color: white;
}

.btn-get-started {
    background: linear-gradient(90deg, #ff8c00 0%, #ff00ff 100%);
    color: #fff;
    padding: 10px 40px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.btn-get-started img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.btn-get-started:hover {
    background-color: #e07b00;
}
form {
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: whitesmoke;
    box-sizing: border-box; /* Ensure padding is included in the total width and height */
}
label {
    display: block;
    margin-bottom: 6px;   
}
.flex-container {
    display: flex;
    justify-content: space-between;
}
.flex-item {
    width: 48%;
}
input, textarea, select{
    width: calc(100% - 16px); /* Account for padding */
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding is included in the total width and height */
}
input[type="file"] {
    padding: 10px;
}
button {
    padding: 10px 15px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: green;
}
h1 {
    background-color: rgb(8, 245, 8); /* Set background color of h1 to red */
    color: white; /* Optionally, set the text color to white for better contrast */
    padding: 50px; /* Optional: add some padding to make it look better */
    text-align: center; /* Optional: center the text */
}
h2{
    text-align: center;
    margin-bottom: 0;
}
h4{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: normal;
}

