body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: white;
    background-image: url('y-so-serious-white.png');
    background-repeat: repeat;
    
}
form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: whitesmoke;
    box-sizing: border-box; /* Ensure padding is included in the total width and height */
}
label {
    display: block;
    margin-bottom: 6px;   
}
.flex-container {
    display: flex;
    justify-content: space-between;
}
.flex-item {
    width: 48%;
}
input, textarea, select{
    width: calc(100% - 16px); /* Account for padding */
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding is included in the total width and height */
}
input[type="file"] {
    padding: 10px;
}
button {
    padding: 10px 15px;
    background-color: rgb(8, 245, 8);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: green;
}
.reset-btn {
    background-color: red; /* Red background for reset button */
}
.reset-btn:hover {
    background-color: darkred;
    color:white;
}
h1 {
    background-color: rgb(8, 245, 8); /* Set background color of h1 to red */
    color: white; /* Optionally, set the text color to white for better contrast */
    padding: 50px; /* Optional: add some padding to make it look better */
    text-align: center; /* Optional: center the text */
}
h2{
    text-align: center;
    margin-bottom: 0;
}
h4{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: normal;
}

