body {
  position: relative;
  height: 100vh;
}

legend.col-form-label {
  white-space: nowrap;
}

input.form-control:focus {
  border-color: red;
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.25);
} 

.form-check-input:checked,
.form-select:checked {
  background-color: #dc3545; 
  border-color: #dc3545;
}

.form-check-input:focus {
  border-color: #dc3545; 
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); 
}

.form-select:focus {
  margin-right: 0.2rem;
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) inset; 
}

legend.col-form-label {
  white-space: nowrap;
  color: #d9534f; 
  font-weight: 600;
}

.form-control:-webkit-autofill {
  background-color: white !important;
  background-image: none !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
}

.radio-log-in {
  margin-left: -2rem;
}

:disabled {
  opacity: 0.3 !important;
  color: rgba(0, 0, 0, 0.1);
}

fieldset .form-check label {
  cursor: pointer;
}

footer {
  width: 100%;
  font-size: 0.8rem;
  z-index: -1;
}

footer li a {
  text-decoration: none;
}

footer li a:hover {
  text-decoration: underline;
}
